node_modules/*
.expo/
.expo-source/
npm-debug.*
*.apk
android/.gradle
android/.idea
ios/.DS_Store
.DS_Store
out/
# Xcode
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.moved-aside
DerivedData
*.hmap
*.xccheckout
*.xcscmblueprint
**/.idea/libraries
**/.idea/workspace.xml
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/vcs.xml
*.iml
.gradle
/android/app/build
/android/build
/android/captures
/android/prod
/android/local.properties
/android/tools/build
/android/ReactAndroid/build
/android/app/libs/ReactAndroid-temp
/android/versioned-react-native/build
/android/versioned-react-native/local.properties
/android/versioned-react-native/ReactAndroid
ReactAndroid-temp.aar
*.apk
/android/android/
jarjar-rules.txt
npm-debug.log
.hyperinstall-state.json
/android/app/src/main/java/host/exp/exponent/generated/ExponentBuildConstants.java
/android/app/src/androidTest/java/host/exp/exponent/generated/TestBuildConstants.java
.kernel-ngrok-url
*.pyc
*.sublime-project
*.sublime-workspace
.floo
.flooignore
.*.swp
.*.swo
.*.swn
.*.swm
.codemod.bookmark
/*.cer
/fastlane/report.xml
/fastlane/Preview.html
/Deployment
/Preview.html
*~
android/logcat.txt
android-shell-app
android/app/src/main/java/host/exp/exponent/generated/ExponentKeys.java
android/app/fabric.properties
.expo

!node_modules/react-native-pinch
node_modules/react-native-pinch/android/build
android/app/src/main/java/host/exp/exponent/generated/DetachBuildConstants.java
android/app/src/main/java/DetachBuildConstants.java
android/build.gradle
android/app/build.gradle
android/app/gradle/wrapper/gradle-wrapper.jar
android/app/gradle/wrapper/gradle-wrapper.properties
android/.gradlew
android/gradlew.bat
