<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.viktoria.portcdmapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true">
    <activity android:name=".MainActivity"
        android:launchMode="singleTask"
              android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
              android:theme="@style/Theme.Exponent.Light"
              android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <intent-filter>
        <data android:scheme="exp432e0186c47243658eeef37602b6c1c4"/>

        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
        <data android:scheme="http"
            android:host="localhost"
            android:port="1337"
            android:pathPrefix="/redirect" />
        <!-- note that the leading "/" is required for pathPrefix-->
      </intent-filter>
    </activity>
    <activity
        android:name="host.exp.exponent.chrometabs.ChromeTabsManagerActivity">
    </activity>
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
  </application>

</manifest>