<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentUrl</key>
	<string>exp432e0186c47243658eeef37602b6c1c4://hi-qb3.pontusstjerna.app.exp.direct:80</string>
</dict>
</plist>
